

/* html { font-size: 62.5%; } /* font-size: 62.5% now means that 1.0 rem = 10px */ 


body {
    /*font-size: 1.5rem;line-height: 2.0rem; */
    font-size 16px;
    font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
    color:#564b47;  
    width:100%
}


.small {
    font-size: 12px; /* 75% of the baseline */
}

.large {
    font-size: 20px; /* 125% of the baseline */
}


/* http://jsfiddle.net/GP2pX/ */

#header{
height: 90px;
margin:-10px;
padding:0px;
color:white;
background-color:#7AA1CA;
text-decoration: none;
width:100%;
}


#header h1{
   text-align: left;
   margin-left: 50px;
   /* http://www.sitepoint.com/web-foundations/collapsing-margins/ */
   position: relative; top: 20px; 
   display:inline;
}


#header ul {
   display:inline;
   float: right;
   position: relative; top: 15px; 
   margin-right: 30px;
}

#header ul li{
   display:inline;
}

#header ul li a{
   text-decoration:none;
   font-size:16px;
   font-weight:bold;
   color:white;
}

#header ul li a:hover{
   text-decoration:underline;
}

#header a:visited,
#header a:active {
}



h1,h2,h3,h4 {
    width: 100%;
    /*min-width: 840px;*/
}

hr {
    margin-left: 0;
    padding-left: 0;
	width: 100%;
/* 	min-width: 840px; */
}

pre {
    background-color: #E8E8E8;
    margin-left: 30px;
    padding: 5px;
    width: 90%;
    overflow: auto;
}


code {
    background-color: #E8E8E8;
    padding-left: 3px;
    padding-right: 3px;
}


table {
    border: none;
}

td {
    padding-left: 20px;
}

a:hover {
    color: #696969;
}

main {
	width: 95%;
	<!-- min-width: 600px; -->
	margin-left: 10px;
	display: block;
}

footer {
	clear: both;
	width: 100%;
}

article {
	margin: 50px;
}

article h2>a,
article h2>a:visited,
article h2>a:active {
    text-decoration: none;
    color: #7AA1CA;
}

article h2>a:hover {
    color: #696969;
}

article .entry {
	margin-left: 15px;
	padding: 10px;
}

/*
article .entry img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
*/

article header span {
	margin-top: -10px;
	margin-bottom: -3px;
	margin-left: 5px;
}

article header h2 {
    margin-bottom: 5px;
}

section address {
    margin-left: 15px;
}

#paginator {
    padding: 10px;
}

#paginator a {
    text-decoration: none;
}

.more {
    margin-left: 80%;
}


.learn-more {
    font-family: 'Oswald', sans-serif;
    font-size: larger;

}

/* Cirle around number formatting */
.step {
    background: #4679bd none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    float: left;
    font-family: "Montserrat",Helvetica,sans-serif;
    font-size: 24px;
    height: 30px;
    margin: 5px 15px 0 0;
    padding-top: 5.5px;
    text-align: center;
    width: 35px;
}

/*--- iPhone only CSS tweaks here, must be last in file to override ---*/
@media screen and (max-device-width: 480px){
body{
        -webkit-text-size-adjust:none;
        font-family:Helvetica, Arial, Verdana, sans-serif;
        padding:5px;
    }
#header h1{
   margin-left: 15px;
}
#header ul{
   float: left;
   margin-right: 0px;
   margin-left: -40px;
	display: block;
}
article {
	margin: 0px;
}
main {
        width: 95%;
        min-width: 480px;
	margin-left: 0px;
}
article header span {
	margin-left: 0px;
}
article .entry {
	margin-left: 0px;
}
}
