

html { font-size: 62.5%; } /* font-size: 62.5% now means that 1.0 rem = 10px */

body {
    font-size: 1.5rem;line-height: 2.0rem; 
    font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
    color:#564b47;  
    padding-left: 50px;
    padding-right: 5%;
}


#headerBox {
    height: 110px;
    background: #7AA1CA;
    margin-top: -20px;
}

#headerText {
    margin-left: 20px;
}


body>header h1>a {
    color:black;
    text-decoration: none;
    margin-left: 20px;
}


body>header h4 {
    color:black;
    margin-top: -10px;
    margin-left: 20px;
}

h1,h2,h3,h4 {
    width: 100%;
    min-width: 840px;
}

hr {
    margin-left: 0;
    padding-left: 0;
	width: 100%;
	min-width: 840px;
}

pre {
    background-color: #E8E8E8;
    margin-left: 30px;
    padding: 5px;
    width: 80%;
    overflow: auto;
}

code {
    background-color: #E8E8E8;
    padding-left: 3px;
    padding-right: 3px;
}

pre {
    background-color: #E8E8E8;
    margin-left: 10px;
    padding: 5px;
    width: 100%;
}

table {
    border: none;
}

td {
    padding-left: 20px;
}

a:hover {
    color: #696969;
}

main {

	width: 95%;
	min-width: 600px;
	margin-left: 10px;
	display: block;
}

nav {
	float: right;
	width: 170px;
	min-width: 170px;
}

nav a,
nav a:visited,
nav a:active {
    color: #7AA1CA;
}

nav a:hover {
    color: #696969;
}

nav li {
    margin-left: -25px;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
}

footer {
	clear: both;
	width: 100%;
}

article {
	margin: 10px;
}

article h2>a,
article h2>a:visited,
article h2>a:active {
    text-decoration: none;
    color: #7AA1CA;
}

article h2>a:hover {
    color: #696969;
}

article .entry {
	margin-left: 15px;
	padding: 10px;
}

/*
article .entry img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
*/

article header span {
	margin-top: -10px;
	margin-bottom: -3px;
	margin-left: 5px;
}

article header h2 {
    margin-bottom: 3px;
}

section address {
    margin-left: 15px;
}

#paginator {
    padding: 10px;
}

#paginator a {
    text-decoration: none;
}

.more {
    margin-left: 80%;
}


.learn-more {
    font-family: 'Oswald', sans-serif;
    font-size: larger;

}

